*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    list-style:none; 
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

:root{
    --bg-color: #ffffff;
    --secound-bg-color: #f9f9f9;
    --text-color: #fff;
    --secound-color: #161616;   /*These are kinda like a def(function) we can keep coming back to them and use them like stored crayon*/
    --main-color:grey;   /*#ef0454*/
    --other-color : #6a6a6a;
    --big-font: 5.7rem;
    --h2-font: 3.8rem;
    --p-font: 1rem;
}

header{
    position: fixed;
    width: 100%;
    right:0;
    top:0;
    z-index: 1000;
    display: flex;                    /*This is the header or the top of are page it controls all the sizing and lettering placement*/
    align-items: center;
    justify-content: space-between;
    /* background: #000; */            /* This is the background to are nav bar*/
    /*padding: 15px 6%;*/  /*This changes the black heading*/
}

.logo{
    font-size: 1.9rem;
    font-weight: 600;        /*This is are logo sizing*/
    color: var(--text-color);
}

span{                          /*This is set on the page when we put <span>folio<span> it sepratated it and allowed just that part to change colors*/
    color: var(--main-color);  /*These color are set to a certain "class not really class" so when i call them it will turn whatever color i set it to in the html*/
}

#menu-icon{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;   /* Menu icon Gone */
    z-index: 10001;   
    display: none; 
} 

.h-btn i{                   /*This controls are GitHub Button*/ 
    color: white;
    font-size: 2.8rem;                             
    margin-bottom: 18px;
    cursor: pointer;
}

.home-text{
    padding: 120px;
}

.home-text h1{
    font-size: var(--big-font);
    color: var(--text-color);
    line-height: 1.11;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 0 0 25px;
}

.home-text h4{
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 1.21;
    font-weight: 700;
    margin-bottom: 40px;
}





.navlist{
    display:flex;
}

.navlist li{
    position: relative;
}

.navlist a{
    color: var(--text-color);    /*This changed the sizeing of the header*/
    font-weight: 500;
    font-size: 2rem;
    padding: 10px 20px;    /*This pulls the line up or down*/
}

.navlist a::after{
    content: '';
    position: absolute;
    width: 0;        /*This puts a line under "home aboutme servers etc"*/
    height: 2px;
    background: var(--main-color);
    left: 0;
    bottom:-4px;
    transition: ease .40s;
}

.navlist a:hover::after{  /*This gives a underlining under header*/
    width:100%
}